<ion-header>
    <ion-navbar>
        <h1 [innerHTML]="postDetail.title.rendered"></h1>
      </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <div [innerHTML]="postDetail.content.rendered"></div>
  </ion-item>
</ion-content>
