<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Rimini da Vivere</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
      <ion-card *ngFor="let post of list" tappable>
        <ion-item (click)='onEventoDettaglio(post)'>
            <h2 [innerHTML]="post.title.rendered"></h2>
            <div [innerHTML]="post.excerpt.rendered" padding></div>


        </ion-item>
      </ion-card>

  </div>
  <div class="ion-padding">
      <ion-card *ngFor="let page of pageList" tappable>
        <ion-item (click)='onPaginaDettaglio(page)'>
            <h2 [innerHTML]="page.title.rendered"></h2>
            <div [innerHTML]="page.excerpt.rendered" padding></div>


        </ion-item>
      </ion-card>

  </div>
</ion-content>
