<!--
  Generated template for the SinglePlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <h1 [innerHTML]="pageDetail.title.rendered"></h1>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img [src]="pageDetail.mediaPic">
  <ion-item>
    <div [innerHTML]="pageDetail.content.rendered"></div>
  </ion-item>
</ion-content>
